body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u2 {
  position:absolute;
  left:2px;
  top:266px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u4 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:20px;
  width:320px;
  height:80px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:80px;
}
#u6 {
  position:absolute;
  left:2px;
  top:32px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:5px;
  top:2px;
  width:31px;
  height:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:284px;
  top:5px;
  width:30px;
  height:10px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:10px;
}
#u10 {
  position:absolute;
  left:2px;
  top:-3px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:125px;
  top:3px;
  width:50px;
  height:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:10px;
  top:29px;
  width:45px;
  height:22px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
}
#u15 {
  position:absolute;
  left:2px;
  top:3px;
  width:41px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:52px;
  width:320px;
  height:29px;
  font-size:25px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:29px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:259px;
  width:320px;
  height:30px;
  font-size:18px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
}
#u18_img.mouseOver {
}
#u18.mouseOver {
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
