body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:650px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:650px;
}
#u1 {
  position:absolute;
  left:2px;
  top:317px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:10px;
  width:100px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:43px;
  width:1024px;
  height:37px;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:37px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:259px;
  width:1024px;
  height:30px;
  font-size:36px;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:30px;
}
#u6_img.mouseOver {
}
#u6.mouseOver {
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:460px;
  top:330px;
  width:103px;
  height:100px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:100px;
}
#u9 {
  position:absolute;
  left:2px;
  top:42px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
