body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:420px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:400px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:400px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:1030px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:1030px;
}
#u2 {
  position:absolute;
  left:2px;
  top:507px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:983px;
  width:100px;
  height:47px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u3_img.mouseOver {
}
#u3.mouseOver {
}
#u4 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:300px;
  top:983px;
  width:100px;
  height:47px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u5_img.mouseOver {
}
#u5.mouseOver {
}
#u6 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:35px;
  top:198px;
  width:330px;
  height:82px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:82px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u8 {
  position:absolute;
  left:35px;
  top:131px;
  width:132px;
  height:28px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:28px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:90px;
  top:340px;
  width:220px;
  height:170px;
  font-size:48px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:170px;
}
#u11 {
  position:absolute;
  left:2px;
  top:56px;
  width:216px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:90px;
  top:550px;
  width:220px;
  height:170px;
  font-size:48px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:170px;
}
#u13 {
  position:absolute;
  left:2px;
  top:56px;
  width:216px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:90px;
  top:760px;
  width:220px;
  height:170px;
  font-size:48px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:170px;
}
#u15 {
  position:absolute;
  left:2px;
  top:56px;
  width:216px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:35px;
  top:305px;
  width:53px;
  height:28px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:28px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:0px;
  top:10px;
  width:400px;
  height:37px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:37px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:19px;
  top:57px;
  width:362px;
  height:57px;
  font-size:48px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:57px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:35px;
  top:169px;
  width:67px;
  height:24px;
  font-size:20px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:24px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u0_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:400px;
  visibility:hidden;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u0_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:1030px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:1030px;
}
#u25 {
  position:absolute;
  left:2px;
  top:507px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:983px;
  width:100px;
  height:47px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u26_img.mouseOver {
}
#u26.mouseOver {
}
#u27 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:300px;
  top:983px;
  width:100px;
  height:47px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u28_img.mouseOver {
}
#u28.mouseOver {
}
#u29 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:0px;
  top:10px;
  width:400px;
  height:37px;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:37px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:35px;
  top:198px;
  width:330px;
  height:82px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:82px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u33 {
  position:absolute;
  left:35px;
  top:131px;
  width:132px;
  height:28px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:28px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:19px;
  top:57px;
  width:362px;
  height:57px;
  font-size:48px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:57px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:90px;
  top:340px;
  width:220px;
  height:170px;
  font-size:48px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:170px;
}
#u38 {
  position:absolute;
  left:2px;
  top:56px;
  width:216px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:90px;
  top:550px;
  width:220px;
  height:170px;
  font-size:48px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:170px;
}
#u40 {
  position:absolute;
  left:2px;
  top:56px;
  width:216px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:90px;
  top:760px;
  width:220px;
  height:170px;
  font-size:48px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:170px;
}
#u42 {
  position:absolute;
  left:2px;
  top:56px;
  width:216px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:35px;
  top:305px;
  width:53px;
  height:28px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:28px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:35px;
  top:169px;
  width:67px;
  height:24px;
  font-size:20px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:24px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u0_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:400px;
  visibility:hidden;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u0_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:400px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:400px;
}
#u48 {
  position:absolute;
  left:2px;
  top:192px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:0px;
  top:360px;
  width:100px;
  height:40px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u49_img.mouseOver {
}
#u49.mouseOver {
}
#u50 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:300px;
  top:360px;
  width:100px;
  height:40px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u51_img.mouseOver {
}
#u51.mouseOver {
}
#u52 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:0px;
  top:10px;
  width:400px;
  height:37px;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:37px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:126px;
  top:57px;
  width:149px;
  height:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:24px;
  top:91px;
  width:266px;
  height:57px;
  font-size:48px;
  color:#999999;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:57px;
}
#u57_img.mouseOver {
}
#u57.mouseOver {
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:20px;
  top:230px;
  width:266px;
  height:57px;
  font-size:48px;
  color:#999999;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:57px;
}
#u59_img.mouseOver {
}
#u59.mouseOver {
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:20px;
  top:148px;
  width:400px;
  height:33px;
  font-size:28px;
  color:#999999;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:33px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:20px;
  top:196px;
  width:360px;
  height:10px;
}
#u63_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u63_end {
  position:absolute;
  left:343px;
  top:-5px;
  width:18px;
  height:20px;
}
#u63_line {
  position:absolute;
  left:0px;
  top:5px;
  width:360px;
  height:1px;
}
#u64 {
  position:absolute;
  left:20px;
  top:287px;
  width:400px;
  height:33px;
  font-size:28px;
  color:#999999;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:33px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
