 /*formating for navigational for structural elements of style guide */


#content {
  padding-top: 1em;
  padding-left: 2em;
}

/* ------ styling the side navigation bar ----- */

#side-nav-bar{
  color: #FFC280;
}

#side-nav-bar ul {
  padding: 0;
  margin-top: 0;
}

#side-nav-bar h2 {
  margin-top: 0.7em;
  margin-bottom: 0;
  padding-left: 1.2em;
}

#side-nav-bar ul li{
  list-style-type: none;
  padding: 0;
  margin-left: 2em;
}

#side-nav-bar ul li a {
  display: inline-block;
  padding: 0.7em;
  text-decoration: none;
  color: #FFC280;
  width: 100%;
}

.side-button ul {
  border-bottom: 1px solid black;
}

.side-button ul li:hover{
  background: #FFE09D;
  
}

#side-nav-bar ul li a:hover {
  color: rgb(255,255,255);
}

