/* grid format for navigational elements of style guide */

.container, body {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	justify-content: space-between;
}

/* sets structure for entire page */
#header {
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	width: 100%;
}

#side-bar-nav {
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}

#content, #content-index {
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	width: 50%;
}

#footer{
	-webkit-flex:1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	width: 100%;
}



.flex-container{
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;

	justify-content: space-between;
	align-items:center;
	/*border:1px solid black;*/
}

/*[class^='-col']{
	border:1px solid black;
}*/

.col-2{
	-webkit-flex: 2 0 auto;
	-ms-flex: 2 0 auto;
	flex: 2 0 auto;

	/*border:1px solid red;*/
}

.col-1{
	-webkit-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	/*border:1px solid black;*/
}

#breadcrumbs{
	width:80%;
	margin-left:10%;
}


#breadcrumbs, #navigation{
	text-align:center;

}


@media(max-width:50em){
	.flex-container{
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		/*justify-content: center;*/
	}




	.col-2{
		-webkit-flex: 2 0 auto;
	    -ms-flex: 2 0 auto;
		flex: 2 0 auto;
		min-width:100%;
		
		/*background:red;*/
	}
	.col-1{
		-webkit-flex: 1 0 auto;
		-ms-flex: 1 0 auto;
		flex: 1 0 auto;

		/*min-width:50%;*/
		/*border:1px solid black;*/
	}

	#navigation .button-nav{
		margin-bottom: 3em;
	}

	#progress-bar-text{
		order:3;
	}
	#back{
		order:1;
	}
	#next{
		order:2;
	}
}

@media(max-width:30em){

	#breadcrumbs{
		width:100%;
		margin-left:0;
	}

	.col-1{
		min-width:30%;
		/*border:1px solid red;*/
	}
}

@media(max-width:25em){
	#breadcrumbs{
		/*width:50%;*/
	}

	#breadcrumbs .col-1{
		min-width:100%;
	}

	#breadcrumbs .col-2{
		/*min-width:100%;*/
		-webkit-flex: 1 1 auto;
	    -ms-flex: 1 1 auto;
		flex: 1 1 auto;
	}

/*	#navigation .col-2{

	}*/
}

