/* grid format for navigational elements of style guide */

.container, body {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	justify-content: space-between;
}

/* sets structure for entire page */
#header {
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	width: 100%;
}

#side-bar-nav {
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}

#content {
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	width: 50%;
}

#footer{
	-webkit-flex:1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	width: 100%;
}



